.aboutumeed-container {
  margin: 0 rem 0 rem;
}
.academics-link {
  color: red;
}
.aboutumeed-container {
  margin-top: 0rem !important;
  padding: 5rem 3rem !important;
  background-color: rgb(221, 206, 206);
  color: #fff;
  text-align: center;
  position: relative;
}

.aboutumeed-container h1 {
  font-size: 3rem;
  padding: 1rem !important;
  font-weight: bold;
  margin-top: 0rem;
  color: #e22283;
}
.aboutumeed-container p {
  font-size: 1rem;
  color: #333333;
  font-weight: bold;
}
.aboutumeed-container .box-container {
  width: 90%;
  display: flex;
  flex-direction: row;
  margin-left: 10%;
}
.aboutumeed-container .box-container .bcard-container {
  width: 40%;
  display: flex;
  flex-direction: row;
}
.aboutumeed-container .box-container .card {
  width: 25%;
  /* height: 197px; */
  margin-right: 1.5rem;
  background-color: rgb(221, 206, 206);
  align-items: center;
}

.aboutumeed-container .box-container .card img {
  width: 100%;
  height: 100%;
  object-fit: fill !important;
  border-radius: 50%;
  /* border-radius: 2%; */
}
.about-card-container {
  margin-top: 1rem;
}
.aboutumeed-container .box-container .about-card-container b {
  color: #e22283;
  font-weight: bold;
}
.about-card-container-title {
  font-size: 0.5rem;
  margin-bottom: 0;
}
@media (max-width: 540px) {
  .aboutumeed-container {
    padding: 3rem 1rem !important;
  }
}
.card {
  border-radius: none !important;
}
@media only screen and (max-width: 768px) {
  .aboutumeed-container .box-container {
    display: flex;
    flex-direction: column;
  }
  .aboutumeed-container .box-container .bcard-container {
    width: 80%;
  }
  .aboutumeed-container h1 {
    font-size: 1rem;
  }
  .aboutumeed-container p {
    font-size: 0.6rem;
  }
  .aboutumeed-container .box-container .card {
    width: 35%;
    margin-right: 1rem;
    margin-bottom: 0.4rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1100px) {
  .aboutumeed-container h1 {
    font-size: 2rem;
  }
  .aboutumeed-container p {
    font-size: 0.7rem;
  }
}
@media (max-width: 224px) {
  .aboutumeed-container h1 {
    font-size: 1rem;
  }
  .aboutumeed-container p {
    font-size: 0.4rem;
  }
}
