.footer-container {
  width: 100%;
  /* background-color: #2e2e2a; */
  /* background-color: #0a2541; */
  background: #0a306c;
  color: white;
}
.footer-main {
  padding-top: 3rem;
  display: flex;
  align-items: space-between;
}
.footer-content {
  color: white;
  width: 50%;
}
.left {
  margin-left: 3rem;
}
.address {
  margin-bottom: 0.3rem;
}
.address .icon {
  margin-right: 0.5rem;
}
.link {
  text-align: center;
}
.footer-content a {
  display: inline-block;
  margin-right: 1rem;
  font-size: 1.5rem;
  margin-top: 1rem;
}
.footer-copyright {
  text-align: center;
  background-color: black;
}
@media only screen and (max-width: 560px) {
  .footer-content > h3 {
    font-size: 0.9rem;
  }
  .address-size {
    font-size: 0.5rem;
  }
  .footer-content a {
    font-size: 1rem;
    margin-top: 1rem;
  }
  .address .icon {
    margin-right: 0.1rem;
  }
}
