.gallary-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  /* grid-gap: 1rem; */
  row-gap: 1rem;
  column-gap: 1rem;
  grid-auto-rows: minmax(200px, auto);
  grid-auto-columns: minmax(300px, auto);
  margin-left: 2rem;
  margin-right: 2rem;
}
.gallary-grid-container img {
  width: 100%;
  object-fit: contain;
  transition: all 0.3s ease-in-out;
}
.gallary-img-title {
  background-color: red;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.gallary-grid-item img:hover {
  transform: scale(1.2);
}
